/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.center {text-align: center;}

div.home-slogan { 
  color: #C02942;
  font-family:Poppins;
}

a.active { 
  color:red;
  background-color: #ff0000;
  font-weight: bold;
  font-size: 150%;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}