/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/
.custom-div-center {
  margin: auto;
  width: 100%;
  border: 3px solid #73AD21;
}

.div-quran-index {
  /*top: 0;*/
  /*left: 0;*/
  /*bottom: 0;*/
  /*right: 0;*/
}

.table-quran-index {

}

.td-quran-index {
  /*width: 20%;*/
}

.button-quran-index {
  min-width: 210px;
  /*max-width: 280px;*/
  /*text-align: center;*/
}


div.home-slogan { 
  color: #C02942;
  font-family:Poppins;
}

a.active { 
  color:red;
  background-color: #ff0000;
  font-weight: bold;
  font-size: 150%;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}